@model IEnumerable<Final.Entity.Company>

<div class="table-responsive">
            <a class="btn btn-outline-success nav-item m-auto w-100" 
           asp-controller="Home" 
           asp-action="CreateCompany">
            Create Company
        </a>
        <hr/>
    <table id="companyTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Base Topic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.BaseTopic</td>
                    <td>
                        <a asp-action="EditCompany" asp-controller="Home" asp-route-companyId="@company.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="DeleteCompany" asp-route-companyId="@company.Id" 
                                   class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

}
